###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
###< symfony/framework-bundle ###

drupal
.idea
.phpcs-cache
build
.DS_STORE
tests/fixtures/.acquia/acquia-cli.json
tests/fixtures/.acquia/cloud_api.conf
*.phar
