language: php
os: linux
version: ~> 1.0
php:
  - 7.3
  - 7.4

cache:
  directories:
    - "$HOME/.composer/cache"

services:
  - mysql

env:
  global: ADS_PRINT_COMMAND_OUTPUT=1
  # @see https://pantheon.io/blog/highest-lowest-testing-multiple-symfony-versions
  jobs:
    - 'HIGHEST_LOWEST="update"'
    - 'HIGHEST_LOWEST="update --prefer-lowest"'

jobs:
  # We have to explicitly add Windows jobs because Travis CI doesn't support PHP on Windows.
  include:
    - os: windows
      language: shell
      git:
        autocrlf: false
      before_install:
        - choco install php
        - (gc "C:\tools\php74\php.ini").replace('memory_limit = 128M','memory_limit = 512M') | sc "C:\tools\php74\php.ini"
        - choco install composer
        # Refresh env to pick up new paths added by Choco installs.
        - cmd.exe //c "RefreshEnv.cmd"
        # Emulate RefreshEnv to pick up new bin paths in Git Bash (the native Travis CI shell).
        - eval $(powershell -NonInteractive -Command 'write("export PATH=`"" + ([Environment]::GetEnvironmentVariable("PATH","Machine") + ";" + [Environment]::GetEnvironmentVariable("PATH","User")).replace("\","/").replace("C:","/c").replace(";",":") + ":`$PATH`"")')

before_install:
  - composer selfupdate

install:
  # Load composer dependencies.
  - composer validate --no-check-all --ansi
  - 'composer -n ${HIGHEST_LOWEST-install} --prefer-dist -o'
  - ./bin/acli auth:login --key=notarealkeyatall --secret=thisisaplaceholder

script:
  - composer test

after_success:
  - ./vendor/bin/php-coveralls -vvv
