language: php
os: linux
version: ~> 1.0
php:
  - 7.3
  - 7.4

cache:
  directories:
    - "$HOME/.composer/cache"

services:
  - mysql

env:
  global: ACLI_PRINT_COMMAND_OUTPUT=1
  # @see https://pantheon.io/blog/highest-lowest-testing-multiple-symfony-versions
  jobs:
    - 'HIGHEST_LOWEST="update"'
    - 'HIGHEST_LOWEST="update --prefer-lowest"'

jobs:
  # We have to explicitly add Windows jobs because Travis CI doesn't support PHP on Windows.
  include:
    - os: windows
      language: shell
      git:
        autocrlf: false
      before_install:
        - choco install php
        - sed -i 's/memory_limit = .*/memory_limit = 512M/' /c/tools/php74/php.ini
        - choco install composer
        # Install Xdebug and configure curl certs, both needed by coveralls. Consider running coveralls only in a dedicated linux job to avoid this rigmarole, which would save build time but limit coverage.
        - curl -o /c/tools/php74/ext/php_xdebug.dll https://xdebug.org/files/php_xdebug-2.9.5-7.4-vc15-nts-x86_64.dll
        - echo "zend_extension=xdebug" >> /c/tools/php74/php.ini
        # Fix curl errors in coveralls.
        - curl -o /c/tools/php74/extras/ssl/cacert.pem https://curl.haxx.se/ca/cacert.pem
        - echo 'curl.cainfo = "C:\tools\php74\extras\ssl\cacert.pem"' >> /c/tools/php74/php.ini
        # Refresh env to pick up new paths added by Choco installs.
        - cmd.exe //c "RefreshEnv.cmd"
        # Emulate RefreshEnv to pick up new bin paths in Git Bash (the native Travis CI shell).
        - eval $(powershell -NonInteractive -Command 'write("export PATH=`"" + ([Environment]::GetEnvironmentVariable("PATH","Machine") + ";" + [Environment]::GetEnvironmentVariable("PATH","User")).replace("\","/").replace("C:","/c").replace(";",":") + ":`$PATH`"")')

before_install:
  - composer selfupdate

install:
  # Load composer dependencies.
  - composer validate --no-check-all --ansi
  - 'composer -n ${HIGHEST_LOWEST-install} --prefer-dist -o'
  - ./bin/acli auth:login --key=notarealkeyatall --secret=thisisaplaceholder --no-interaction

script:
  - composer test

after_success:
  - ./vendor/bin/php-coveralls -vvv
