<?xml version="1.0" encoding="UTF-8"?>

<ruleset name="AcquiaCLI">

  <description>Acquia CLI PHP CodeSniffer configuration.</description>

  <arg name="extensions" value="php,inc,test,css,txt,md,yml"/>

  <arg name="colors"/>
  <arg name="cache" value=".phpcs-cache"/>
  <arg name="parallel" value="10"/>

  <file>.</file>

  <exclude-pattern>build/</exclude-pattern>
  <exclude-pattern>var/</exclude-pattern>
  <exclude-pattern>vendor/*</exclude-pattern>
  <exclude-pattern>tests/fixtures/*</exclude-pattern>

  <rule ref="AcquiaPHP">
    <exclude name="PHPCompatibility.FunctionUse.NewFunctions.array_key_lastFound"/>
  </rule>

</ruleset>
