openapi: 3.0.0
info:
  title: Acquia Cloud API Documentation
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: |
    Acquia Cloud API

    # Compatibility

    ## Stability

    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.

    There are three levels of stability:

    * `prototype`: A prototype resource is experimental and major changes are likely. A prototype resource may not reach production.
        * Compatible and emergency changes may be made with no advance notice
        * Disruptive changes may be made with one week notice
        * Deprecated resources will remain available for at least one month after deprecation
    * `development`: A resource that is unlikely to change, but is still being worked on, will be marked as in development. These resources are very likely to reach production.
        * Compatible and emergency changes may be made with no advance notice
        * Disruptive changes may be made with one month notice
        * Deprecated resources will remain available for at least six months after deprecation
    * `production`: A production resource will not introduce breaking changes within a version, and any breaking changes between versions will be communicated ahead of time.

    ## Deprecation

    Over time, endpoints may become obsolete and will be removed in the future. These endpoints will be marked with an `X-CloudAPI-Deprecated` header indicating the version in which they were deprecated and the reason for the deprecation. Deprecated endpoints may be removed in the next version of the resource.

    ## Versioning

    All resource endpoints are versioned within the API. Endpoints that have reached production will not introduce breaking changes between versions. Non-production endpoints will not version for changes.

    A specific version of an endpoint can be requested via the `Accept` header:

        Accept: application/json, version=2

    If the version is not specified, the latest version of the endpoint will be used.

    Starting with version 3, we will support the current version of an endpoint and the previous version. Version 1 of the API is [provided elsewhere](https://cloudapi.acquia.com/).

    ## Errors

    Some endpoints will return a 503 status when dependent services are unavailable:

        application/json
        {
            "error": "system",
            "message": "This action is currently unavailable. Please try again later."
        }

    ## Authentication

    All Acquia Cloud API calls require authentication to work properly.

    Learn more: <a href='https://docs.acquia.com/acquia-cloud/develop/api/auth/' target='_blank'>https://docs.acquia.com/acquia-cloud/develop/api/auth/</a>

    ### Example implementation

    An example PHP script for making authenticated API requests can be found at <a href='https://docs.acquia.com/_downloads/api-v2-auth.php' target='_blank'>https://docs.acquia.com/_downloads/api-v2-auth.php</a>. This script uses the <a href='https://oauth2-client.thephpleague.com/' target='_blank'>League/oauth2-client</a> library, installed via Composer.
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: 'https://www.acquia.com'
servers:
  - url: 'https://cloud.acquia.com/api'
    description: Cloud API
components:
  parameters:
    ApmType:
      name: apmType
      in: path
      required: true
      description: The APM type.
      schema:
        type: string
      example: newrelic
    ArtifactId:
      name: artifactId
      in: path
      required: true
      description: An ID that uniquely identifies an artifact.
      schema:
        type: string
      example: drupal8
    BackupId:
      name: backupId
      in: path
      required: true
      description: The database backup identifier.
      schema:
        type: integer
      example: 1
    CertificateId:
      name: certificateId
      in: path
      required: true
      description: An ID that uniquely identifies a certificate.
      schema:
        type: integer
      example: 7
    ConfigurationSetId:
      name: configurationSetId
      in: path
      required: true
      description: An ID that uniquely identifies a configuration set.
      schema:
        type: string
      example: ABCDE-1234.12345ab6c7e8f90g12i1jk234l56mn78
    CronId:
      name: cronId
      in: path
      required: true
      description: An ID that uniquely identifies a cron job.
      schema:
        type: string
      example: e10a665c-c9ec-4422-a82b-b32c82329f9d
    DatabaseName:
      name: databaseName
      in: path
      required: true
      description: 'The database name, typically lower snake case.'
      schema:
        type: string
      example: my_db
    Domain:
      name: domain
      in: path
      description: A domain name.
      required: true
      schema:
        type: string
      example: example.com
    DomainRegistrationUuid:
      name: domainRegistrationUuid
      in: path
      description: The Domain Registration universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    DrushVersion:
      name: version
      in: query
      description: 'Specifies the drush aliases formatting, either 8 (example.aliases.drushrc.php) or 9 (example.site.yaml)'
      required: true
      schema:
        type: integer
        enum:
          - 8
          - 9
      example: 8
    EnvironmentId:
      name: environmentId
      in: path
      description: The environment identifier. The identifier is a compound key consisting of the internal database ID of the environment and the application UUID.
      required: true
      schema:
        type: string
      example: 12-d314739e-296f-11e9-b210-d663bd873d93
    EnvironmentVariableName:
      name: environmentVariableName
      in: path
      description: The environment variable name.
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 255
        pattern: '^(?!(ACQUIA_|AH_))[A-Za-z_][A-Za-z0-9_]*$'
      example: EXAMPLE_VARIABLE_NAME
    IndexId:
      name: indexId
      in: path
      required: true
      description: An ID that uniquely identifies an index.
      schema:
        type: string
      example: ABCDE-1234.test.example
    LogType:
      name: logType
      in: path
      required: true
      description: An ID that uniquely identifies a log type.
      schema:
        type: string
        enum:
          - apache-access
          - apache-error
          - drupal-request
          - drupal-watchdog
          - php-error
          - mysql-slow-query
      example: php-error
    Name:
      name: name
      in: path
      description: A name that uniquely identifies an entity.
      required: true
      schema:
        type: string
      example: drupal8
    Permission:
      name: permission
      in: query
      description: Specifies the permission you wish to check access for.
      required: true
      schema:
        type: string
      example: deploy to prod
    ServerId:
      name: serverId
      in: path
      required: true
      description: The internal database identifier of the server.
      schema:
        type: string
      example: 42
    ServerType:
      name: serverType
      in: query
      description: Specifies the type of server metric to retrieve.
      required: true
      schema:
        type: string
        enum:
          - web
          - bal
          - db
      example: web
    SiteId:
      name: siteId
      in: path
      description: The site id
      required: true
      schema:
        type: string
      example: 1938d81b-4b14-462d-9871-5f8a32eb59b3
    StackMetricsMetricType:
      name: stackMetricsMetricType
      in: path
      description: Specifies the type of StackMetrics metric to retrieve.
      required: true
      schema:
        type: array
        items:
          type: string
          enum:
            - apache-requests
            - bal-cpu
            - bal-memory
            - cron-memory
            - db-cpu
            - db-disk-size
            - db-disk-usage
            - db-memory
            - file-disk-size
            - file-cpu
            - file-disk-usage
            - file-memory
            - http-2xx
            - http-3xx
            - http-4xx
            - http-5xx
            - mysql-slow-query-count
            - nginx-requests
            - out-of-memory
            - php-proc-max-reached-site
            - php-proc-max-reached-total
            - php-proc-site
            - php-proc-total
            - varnish-cache-hit-rate
            - varnish-requests
            - web-cpu
            - web-memory
      example: web-cpu
    TagName:
      name: tagName
      in: path
      description: The name of the application tag.
      required: true
      schema:
        type: string
      example: green
    TokenDeleteReason:
      name: tokenDeleteReason
      in: query
      description: Specifies the reason for the token revocation for future reference.
      schema:
        type: string
      example: The quick brown fox jumped over the lazy dog.
    UsageMetric:
      name: usageMetric
      in: path
      description: A usage data metric type.
      required: true
      schema:
        type: string
      example:
        - views
    UserSearch:
      name: userSearch
      in: query
      description: 'The user''s username, email, name, or token. This can be a partial match.'
      required: true
      schema:
        type: string
      example: john doe
    AgreementUuid:
      name: agreementUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    AlertUuid:
      name: alertUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    ApplicationUuid:
      name: applicationUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    IdentityProviderUuid:
      name: identityProviderUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    IdeUuid:
      name: ideUuid
      in: path
      description: The Cloud IDE universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    LogForwardingDestinationUuid:
      name: logForwardingDestinationUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: dbd8a966-2b25-11e9-b210-d663bd873d93
    MessageUuid:
      name: messageUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    NotificationUuid:
      name: notificationUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
        format: uuid
      example: 2343b683-b194-4217-982a-6a95c72ad9a8
    OrganizationUuid:
      name: organizationUuid
      in: path
      description: The organization entity's universally unique identifier.
      required: true
      schema:
        type: string
        minLength: 36
        maxLength: 36
        format: uuid
      example: 1e7efab9-0fac-4a2c-ad94-61efc78623ba
    RoleUuid:
      name: roleUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    ShieldAclUuid:
      name: shieldAclUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: a1234567-1234-123a-abc1-12ab345cd678
    SshKeyUuid:
      name: sshKeyUuid
      in: path
      description: The SSH key entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 981b7910-2fe9-11e9-b210-d663bd873d93
    SubscriptionUuid:
      name: subscriptionUuid
      in: path
      description: The subscription entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 0f3ad33e-2fe4-11e9-b210-d663bd873d93
    TeamUuid:
      name: teamUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 3eef5d81-62f4-429c-aa94-e17d05ab4740
    TokenUuid:
      name: tokenUuid
      in: path
      description: The token entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 882f3258-2fe9-11e9-b210-d663bd873d93
    UserUuid:
      name: userUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: f2daa9cc-e5a0-4036-a5c8-f96e336c62b5
    DeprecatedFrom:
      name: from
      in: query
      description: '(Use filter `from` instead.) Specifies an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatted date. Used in conjunction with `to` query.'
      deprecated: true
      required: false
      schema:
        type: string
      example: '2019-10-01T00:00:00.000Z'
    DeprecatedTo:
      name: to
      in: query
      description: '(Use filter `to` instead.) Specifies an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatted date. Used in conjunction with `from` query.'
      deprecated: true
      required: false
      schema:
        type: string
      example: '2020-01-01T00:00:00.000Z'
    From:
      name: from
      in: query
      description: Specifies relative or absolute time period to retrieve results from. (Default value -7d)
      required: false
      schema:
        type: string
      example: '-7d'
    FromNoDefault:
      name: from
      in: query
      description: An ISO-8601 formatted date retrieve results from.
      required: false
      schema:
        type: string
      example: '2021-01-29T22:45:21+00:00'
    FromStackMetrics:
      name: from
      in: query
      description: An ISO-8601 formatted date retrieve metrics from.
      required: true
      schema:
        type: string
      example: '2021-01-29T22:45:21+00:00'
    To:
      name: to
      in: query
      description: Optionally specifies relative or absolute time period to retrieve results until.
      required: false
      schema:
        type: string
      example: '-1d'
    ToNoDefault:
      name: to
      in: query
      description: An ISO-8601 formatted date retrieve results to.
      required: false
      schema:
        type: string
      example: '2021-01-29T23:55:21+00:00'
    Sort:
      name: sort
      in: query
      description: |
        A comma-delimited string with fields used for sorting. The order of the fields is significant. A leading - in the field indicates the field should be sorted in a descending order. Not all fields are sortable.
      required: false
      schema:
        type: string
        minimum: 1
      example: 'field1,-field2'
    Filter:
      name: filter
      in: query
      description: |
        The filters query string parameter restricts the data returned from your request. Filtered queries restrict the rows that do (or do not) get included in the result by testing each row in the result against the filters. Not all fields are filterable.

        There are eight filter operators that can be used and they must be URL encoded in order to be included. The operators are:

        * Equals: `= (%3D)`
        * Does not equal: `!= (!%3D)`
        * Greater than: `> (%3E)`
        * Less than: `< (%3C)`
        * Greater than or equal to: `>= (%3E%3D)`
        * Less than or equal to: `<= (%3C%3D)`
        * Contains substring: `=@ (%3D@)`
        * Does not contain substring: `!@ (!@)`

        Filters can be combined using `OR` and `AND` boolean logic. The `OR` operator is defined using a comma (`,`) and the `AND` operator is defined using a semi-colon (`;`).

        Some examples:
        * `filter=field%3Dvalue` (`field` equals `'value'`)
        * `filter=field%3D@*partialmatch` (`field` ends with `'partialmatch'`)
        * `filter=field%3D@*partialmatch,field%3Dvalue` (`field` ends with `'partialmatch'` OR `field` equals `'value'`)
        * `filter=field%3D@*partialmatch,field%3Dvalue;field2%3C5` (`field` ends with `'partialmatch'` OR `field` equals `'value'` AND `field2` > `5`)
      required: false
      schema:
        type: string
        minimum: 1
    FilterStackMetrics:
      name: filter
      in: query
      description: |
        The filters query string parameter restricts the data returned from your request. Filtered queries restrict the rows that do (or do not) get included in the result by testing each row in the result against the filters. Not all fields are filterable.

        There are eight filter operators that can be used and they must be URL encoded in order to be included. The operators are:

        * Equals: `= (%3D)`
        * Does not equal: `!= (!%3D)`
        * Greater than: `> (%3E)`
        * Less than: `< (%3C)`
        * Greater than or equal to: `>= (%3E%3D)`
        * Less than or equal to: `<= (%3C%3D)`
        * Contains substring: `=@ (%3D@)`
        * Does not contain substring: `!@ (!@)`

        Filters can be combined using `OR` and `AND` boolean logic. The `OR` operator is defined using a comma (`,`) and the `AND` operator is defined using a semi-colon (`;`).

        Some examples:
        * `filter=field%3Dvalue` (`field` equals `'value'`)
        * `filter=field%3D@*partialmatch` (`field` ends with `'partialmatch'`)
        * `filter=field%3D@*partialmatch,field%3Dvalue` (`field` ends with `'partialmatch'` OR `field` equals `'value'`)
        * `filter=field%3D@*partialmatch,field%3Dvalue;field2%3C5` (`field` ends with `'partialmatch'` OR `field` equals `'value'` AND `field2` > `5`)

        **For this endpoint, the "metric" filter is required. Multiple metrics can be returned in one request. The following metrics are available:**

        * apache-requests, bal-cpu, bal-memory, cron-memory, db-cpu, db-disk-size, db-disk-usage, db-memory, file-disk-size, file-cpu, file-disk-usage, file-memory, http-2xx, http-3xx, http-4xx, http-5xx, mysql-slow-query-count, nginx-requests, out-of-memory, php-proc-max-reached-site, php-proc-max-reached-total, php-proc-site, php-proc-total, varnish-cache-hit-rate, varnish-requests, web-cpu, web-memory
      required: true
      schema:
        type: string
        minimum: 1
    Limit:
      name: limit
      in: query
      description: The maximum number of items to return.
      required: false
      schema:
        type: integer
      example: 10
    Offset:
      name: offset
      in: query
      description: An integer to signify the offset to paginate from.
      required: false
      schema:
        type: integer
      example: 10
    Range:
      name: range
      in: query
      description: ISO-8601 date/time of invite create date/time.
      required: false
      schema:
        type: string
        format: date-time
    Token:
      name: token
      in: path
      description: The token identifier.
      required: true
      schema:
        type: string
    Resolution:
      name: resolution
      in: query
      description: |
        Specifies the data granularity of the request. Available resolutions: minute, hour, day, week or month.

        Limits:
        - 3 hour limit for “minute” resolution
        - 1 week limit for “hour” resolution
        - 6 month limit for “day” resolution
        - 1 year limit for "week" resolution
        - 3 year limit for “month” resolution
      required: false
      schema:
        type: string
        enum:
          - minute
          - hour
          - day
          - week
          - month
  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: string
          description: The long description for the returned error.
    File:
      type: string
      description: A binary file response.
      format: binary
    Links:
      type: object
      required:
        - self
      description: HAL links about the current resource.
      properties:
        self:
          type: object
          description: A link to this page.
          required:
            - href
          properties:
            href:
              type: string
              format: uri
              description: The URI for this page.
    Message:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: A simple message returned from the response.
    MessageWithLinks:
      type: object
      required:
        - message
        - _links
      properties:
        message:
          type: string
          description: The human-friendly confirmation of the creation of the resource.
        _links:
          $ref: '#/components/schemas/Links'
    Pagination:
      type: object
      description: A collection of pagination properties.
      properties:
        total:
          type: integer
          description: The total number of objects in the collection.
        limit:
          type: integer
          description: The limit on the number of objects in the collection.
        offset:
          type: integer
          description: The offset on the retrieved objects in the collection.
    Root:
      type: object
      required:
        - status
        - _links
      properties:
        status:
          type: object
          description: The current status of various systems.
          properties:
            configuration:
              type: boolean
              description: The current configuration system status.
            registry:
              type: boolean
              description: The current registry system status.
            acp_provisioning_enabled:
              type: boolean
              description: Whether Acquia Cloud Professional provisioning is currently enabled.
            acf_provisioning_enabled:
              type: boolean
              description: Whether Acquia Cloud Free provisioning is currently enabled.
        _links:
          $ref: '#/components/schemas/Links'
    ValidationError:
      type: object
      required:
        - error
        - message
      description: A validation error.
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: object
          description: The validation error message keyed by its field or group name.
          additionalProperties:
            type: string
    AccountInvites:
      type: object
      description: A collection of invites.
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of invites matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Invite'
    Agreement:
      type: object
      required:
        - uuid
        - document_uuid
        - title
        - body
        - status
        - created_at
        - updated_at
        - actioned_by
        - reference
        - _links
      properties:
        uuid:
          type: string
          format: uuid
          description: The agreement UUID.
        document_uuid:
          type: string
          format: uuid
          description: The agreement document UUID.
        title:
          type: string
          description: The name of the agreement.
        body:
          type: string
          description: The formatted agreement content.
        status:
          type: string
          description: The status of the agreement.
          enum:
            - pending
            - accepted
            - declined
        created_at:
          type: string
          format: date-time
          description: The date the agreement was created.
        updated_at:
          type: string
          format: date-time
          description: The date the agreement was last updated.
        actioned_by:
          $ref: '#/components/schemas/UserStub'
        reference:
          type: object
          description: A reference to the entity for this agreement.
          properties:
            uuid:
              type: string
              format: uuid
              description: The entity UUID.
            name:
              type: string
              description: The entity name.
            type:
              type: string
              description: The entity type.
        _links:
          $ref: '#/components/schemas/Links'
    Agreements:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of agreements matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Agreement'
    Invitees:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of invitees matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/UserStub'
    Application:
      type: object
      required:
        - id
        - uuid
        - name
        - hosting
        - subscription
        - organization
        - flags
        - type
        - status
        - _links
        - _embedded
      properties:
        id:
          type: integer
          description: The unique internal ID of the application.
        uuid:
          type: string
          format: uuid
          description: The UUID of the application.
        name:
          type: string
          description: The name of the application.
        hosting:
          type: object
          description: Hosting details for this application.
          properties:
            type:
              type: string
              enum:
                - ace
                - acp
                - acsf
                - free
                - network
                - search
                - unknown
              description: The hosting type.
            id:
              type: string
              description: The hosting ID.
        subscription:
          $ref: '#/components/schemas/SubscriptionStub'
        organization:
          $ref: '#/components/schemas/OrganizationStub'
        flags:
          $ref: '#/components/schemas/ApplicationFlags'
        type:
          type: string
          enum:
            - drupal
            - node
          description: The type of application supported.
        status:
          type: string
          enum:
            - normal
            - provisioning
          description: The current application status.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: Entities related to the application.
          properties:
            subscription:
              $ref: '#/components/schemas/SubscriptionStubEmbedded'
            organization:
              $ref: '#/components/schemas/OrganizationStubEmbedded'
            tags:
              type: array
              items:
                $ref: '#/components/schemas/ResourceTagEmbedded'
    ApplicationFlags:
      type: object
      description: An array of various flags that indicate functionality associated with applications.
      additionalProperties:
        type: object
        properties:
          remote_admin:
            type: boolean
            description: Whether this application has remote administration enabled.
    Applications:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of applications.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Application'
    ApplicationFeature:
      type: object
      required:
        - name
        - label
        - description
      properties:
        name:
          type: string
          description: The feature flag machine name.
        label:
          type: string
          description: The feature flag friendly name.
        description:
          type: string
          description: A description of the feature flag.
    ApplicationFeatures:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of application feature flags.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ApplicationFeature'
    ApplicationMetadata:
      type: object
      description: Application metadata.
      properties:
        uuids:
          type: array
          description: Collection of application UUIDs.
          items:
            type: string
            format: uuid
            description: The application UUID.
    ApplicationsNotifications:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of notifications matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Notification'
    ApplicationsPermissions:
      type: object
      required:
        - total
        - flags
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        flags:
          type: array
          description: An array of additional information about the permissions.
          items:
            type: object
            required:
              - administrator
            properties:
              administrator:
                type: boolean
                description: Whether the current user is able to administrate the application.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of permissions matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Permission'
    ApplicationStub:
      type: object
      required:
        - name
        - uuid
      properties:
        name:
          type: string
          description: The name of the application.
        uuid:
          type: string
          format: uuid
          description: The application UUID.
    ApplicationsTasks:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of tasks matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Task'
    ApplicationsTeams:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of teams matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Team'
    ApplicationDatabases:
      type: object
      description: Collection of application databases.
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of database names matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ApplicationDatabaseName'
    ApplicationDatabaseName:
      type: object
      description: Application database name.
      required:
        - name
      properties:
        name:
          type: string
          description: The database name.
          minLength: 1
          maxLength: 63
    Artifact:
      type: object
      required:
        - id
        - name
        - state
        - created_at
        - _links
      properties:
        id:
          type: integer
          description: The unique ID of the artifact.
        name:
          type: string
          description: The name of the artifact.
        state:
          type: string
          enum:
            - delete-failed
            - deleted
            - pending-delete
            - pending-upload
            - ready
            - upload-failed
          description: The state of the artifact.
        created_at:
          type: string
          format: date-time
          description: The time at which the artifact was created.
        _links:
          $ref: '#/components/schemas/Links'
    Artifacts:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of artifacts.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Artifact'
    Code:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of branch and tag information.
          properties:
            items:
              type: array
              items:
                type: object
                required:
                  - name
                  - flags
                properties:
                  name:
                    type: string
                    description: The name of the branch or tag.
                  flags:
                    $ref: '#/components/schemas/CodeFlags'
    CodeFlags:
      type: object
      description: An array of various flags that indicate functionality associated with code branches and tags on applications.
      additionalProperties:
        type: object
        properties:
          tag:
            type: boolean
    ResourceTag:
      type: object
      required:
        - name
        - color
        - context
        - _links
      properties:
        name:
          type: string
          description: The name of the tag.
        color:
          type: string
          description: The color of the tag.
        context:
          type: object
          description: Metadata related to the tag.
          properties:
            organization:
              type: object
              description: A collection of organization metadata for the tag.
              properties:
                uuids:
                  type: array
                  description: An array of organization UUIDs.
                  items:
                    type: string
                    format: uuid
                    description: The organization UUID.
            application:
              type: object
              description: A collection of application metadata for the tag.
              properties:
                uuids:
                  type: array
                  description: An array of application UUIDs.
                  items:
                    type: string
                    format: uuid
                    description: The application UUID.
        _links:
          $ref: '#/components/schemas/Links'
    ResourceTagEmbedded:
      type: object
      description: An associated tag.
      required:
        - name
        - color
        - _links
      properties:
        name:
          type: string
          description: The name of the tag.
        color:
          type: string
          description: The color of the tag.
        _links:
          $ref: '#/components/schemas/Links'
    ResourceTags:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of tags matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ResourceTag'
    DomainRegistration:
      type: object
      required:
        - uuid
        - domain_name
        - health
        - dns_records
        - _links
      description: The Domain Registration.
      properties:
        uuid:
          type: string
          format: uuid
          description: The UUID of the domain registration.
        domain_name:
          type: string
          format: uri
          description: The domain name.
        health:
          $ref: '#/components/schemas/DomainRegistrationHealth'
        dns_records:
          $ref: '#/components/schemas/DomainRegistrationDnsRecords'
        _links:
          $ref: '#/components/schemas/Links'
    DomainRegistrations:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of domain registrations.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/DomainRegistration'
    DomainRegistrationHealth:
      type: object
      description: Health information for this domain registration.
      properties:
        code:
          type: string
          description: The status code for this domain registration.
        details:
          type: string
          description: The details regarding the health of this domain registration.
        summary:
          type: string
          description: A brief summary that explains why an error code is present.
    DomainRegistrationDnsRecord:
      type: object
      description: A DNS record.
      required:
        - type
        - value
      properties:
        type:
          type: string
          description: The type of DNS record.
          enum:
            - TXT
            - MX
            - CNAME
        name:
          type: string
          description: The name of the DNS record
        value:
          type: string
          description: The DNS record value.
        health:
          $ref: '#/components/schemas/DomainRegistrationDnsHealth'
    DomainRegistrationDnsRecords:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of DNS records
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/DomainRegistrationDnsRecord'
    DomainRegistrationDnsHealth:
      type: object
      description: Health information for this DNS record.
      properties:
        code:
          type: string
          description: The status code for this DNS record.
        details:
          type: string
          description: The details regarding the health of this DNS record.
        summary:
          type: string
          description: A brief summary that explains why an error code is present.
    Distribution:
      type: object
      required:
        - name
        - urls
        - update_urls
        - title
        - version
        - drupal_version
        - description
        - image_url
        - flags
        - _links
      properties:
        name:
          type: string
          description: The name of the distribution.
        urls:
          type: object
          description: The URLs for the distribution.
          properties:
            gz:
              type: object
              description: A link to a gzip compressed distribution.
              properties:
                href:
                  type: string
                  description: The URI for the gzip compressed distribution.
            zip:
              type: object
              description: A link to a zip compressed distribution.
              properties:
                href:
                  type: string
                  description: The URI for the zip compressed distribution.
        update_urls:
          type: object
          description: The update URLs for the distribution.
          properties:
            gz:
              type: object
              description: A link to a gzip compressed update.
              properties:
                href:
                  type: string
                  description: The URI for the gzip compressed update.
            zip:
              type: object
              description: A link to a zip compressed update.
              properties:
                href:
                  type: string
                  description: The URI for the zip compressed update.
        title:
          type: string
          description: The title of the distribution.
        version:
          type: string
          description: The full version string of the distribution.
        drupal_version:
          type: string
          description: The Drupal version string of the distribution.
        description:
          type: string
          description: The verbose description of the distribution.
        image_url:
          type: object
          description: The logo image url for this distribution.
          properties:
            href:
              type: string
              description: The URI for the logo image for this distribution.
        flags:
          type: object
          description: Flags for this distribution.
          properties:
            default:
              type: boolean
              description: Whether this distribution is the default.
        _links:
          $ref: '#/components/schemas/Links'
    Distributions:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of distributions.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Distribution'
    Email:
      type: object
      required:
        - status
        - _links
      description: The Email status.
      properties:
        status:
          type: string
          description: The status of Platform Email for the environment
          enum:
            - active
            - inactive
        _links:
          $ref: '#/components/schemas/Links'
    EmailDomain:
      type: object
      required:
        - uuid
        - domain_name
        - flags
        - health
      description: The Email Domain
      properties:
        uuid:
          type: string
          format: uuid
          description: The UUID of the email domain.
        domain_name:
          type: string
          format: uri
          description: The domain name.
        flags:
          type: object
          description: Additional Email Domain information.
          properties:
            associated:
              type: boolean
              description: Whether or not Platform Email has been associated with the application.
        health:
          $ref: '#/components/schemas/DomainRegistrationHealth'
    EmailDomains:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        pagination:
          $ref: '#/components/schemas/Pagination'
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of email domains.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/EmailDomain'
    Entitlements:
      type: object
      description: Entitlements collection.
      properties:
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of entitlements.
          properties:
            items:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/EntitlementPipelines'
                  - $ref: '#/components/schemas/EntitlementCde'
                  - $ref: '#/components/schemas/EntitlementConsumptionBasedPricing'
                  - $ref: '#/components/schemas/EntitlementLogForwarding'
                  - $ref: '#/components/schemas/EntitlementShield'
                  - $ref: '#/components/schemas/EntitlementDefaultNewRelic'
                  - $ref: '#/components/schemas/EntitlementMigrate'
    EntitlementPipelines:
      type: object
      description: Pipelines entitlement.
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the entitlement.
    EntitlementCde:
      type: object
      description: Continuous delivery environment entitlement.
      required:
        - name
        - properties
      properties:
        name:
          type: string
          description: The name of the entitlement.
        properties:
          type: object
          description: Entitlement data.
          properties:
            databases_total:
              type: integer
              description: The number of on-demand environment databases granted.
            total:
              type: integer
              description: The number of on-demand environments granted.
            used:
              type: integer
              description: The number of on-demand environments used.
    EntitlementConsumptionBasedPricing:
      type: object
      description: Consumption based pricing entitlement.
      required:
        - name
        - properties
      properties:
        name:
          type: string
          description: The name of the entitlement.
        properties:
          type: object
          description: Entitlement data.
          properties:
            visits:
              type: integer
              description: The maximum number of allowed unique visits.
            views:
              type: integer
              description: The maximum number of allowed views.
    EntitlementLogForwarding:
      type: object
      description: Log forwarding entitlement.
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the entitlement.
    EntitlementMigrate:
      type: object
      description: Acquia Migrate Accelerator entitlement.
      required:
        - name
        - properties
      properties:
        name:
          type: string
          description: The name of the entitlement.
        properties:
          type: object
          description: Entitlement data.
    EntitlementDefaultNewRelic:
      type: object
      description: Represents the default New Relic account. The default New Relic account is created when a subscription is provisioned.
      required:
        - name
        - properties
      properties:
        name:
          type: string
          description: The name of the entitlement.
        properties:
          type: object
          description: Entitlement data.
          properties:
            id:
              type: string
              description: The New Relic account identifier.
            level:
              type: string
              description: The New Relic account level.
              enum:
                - pro
    EntitlementShield:
      type: object
      description: Shield entitlement.
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the entitlement.
    Apm:
      type: object
      description: Details application performance monitor settings.
      required:
        - type
        - key
        - name
        - flags
        - _links
        - _embedded
      properties:
        type:
          type: string
          description: Indicates the APM type.
        key:
          type: string
          description: The APM license key.
        name:
          type: string
          description: The APM application name. New Relic only.
        flags:
          type: object
          description: An array of flags for an APM.
          properties:
            enabled:
              type: boolean
              description: Whether or not the APM is enabled.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: Entities related to the APM settings.
          properties:
            environment:
              type: array
              description: An array of links to related environments.
              items:
                type: object
                properties:
                  _links:
                    $ref: '#/components/schemas/Links'
    ArtifactStub:
      type: object
      required:
        - name
        - id
      properties:
        name:
          type: string
          description: The name of the artifact.
        id:
          type: string
          format: id
          description: The artifact identifier.
    AvailableRuntimes:
      type: object
      required:
        - runtime
        - versions
        - _links
      properties:
        runtime:
          type: string
          description: The runtime.
          enum:
            - php
            - node
        versions:
          type: string
          description: The available versions for this runtime.
        _links:
          $ref: '#/components/schemas/Links'
    Backup:
      type: object
      description: Response schema for a database backup.
      required:
        - id
        - database
        - type
        - started_at
        - completed_at
        - flags
        - environment
        - _links
        - _embedded
      properties:
        id:
          type: integer
          description: The ID of the database backup.
        database:
          $ref: '#/components/schemas/DatabaseStub'
        type:
          type: string
          description: The type of backup this is.
        started_at:
          type: string
          format: date-time
          description: The ISO-8601 formatted date/time of when the backup process was started.
        completed_at:
          type: string
          format: date-time
          description: The ISO-8601 formatted date/time of when the backup process was completed.
        flags:
          $ref: '#/components/schemas/BackupFlags'
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: Related entities.
          properties:
            environment:
              type: object
              description: The related environment.
              properties:
                id:
                  type: string
                  description: The environment ID.
                name:
                  type: string
                  description: The environment name.
                _links:
                  $ref: '#/components/schemas/Links'
            database:
              type: object
              description: The related database.
              properties:
                id:
                  type: integer
                  description: The database ID.
                name:
                  type: string
                  description: The database name.
                _links:
                  $ref: '#/components/schemas/Links'
    Backups:
      type: object
      description: A collection of database backups.
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of database backups matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Backup'
    BackupFlags:
      type: object
      description: Response schema for database backup flags.
      properties:
        deleted:
          type: boolean
          description: Whether this database is deleted.
    Cdn:
      type: object
      required:
        - status
      description: CDN status information.
      properties:
        status:
          type: string
          description: The CDN status.
          enum:
            - active
            - delete-failed
            - deleting
            - disable-failed
            - disabling
            - install-failed
            - installing
        _links:
          $ref: '#/components/schemas/Links'
    CdnInformation:
      type: object
      nullable: true
      description: 'Domain-specific CDN information, if CDN is enabled.'
      properties:
        status:
          type: string
          enum:
            - active
            - installing
            - install-failed
            - deleting
            - delete-failed
            - unknown
          description: The current provisioning status of CDN for this domain.
    Certificate:
      type: object
      description: An SSL certificate.
      required:
        - id
        - certificate
        - private_key
        - ca
        - flags
        - expires_at
        - domains
        - environment
        - _links
      properties:
        id:
          type: integer
          description: The ID of the certificate.
        label:
          type: string
          description: The certificate label (SNI only).
        certificate:
          type: string
          description: Returns the PEM encoded certificate.
        private_key:
          type: string
          description: The PEM encoded private key.
        ca:
          type: string
          description: The CA intermediary chain.
        flags:
          $ref: '#/components/schemas/CertificateFlags'
        expires_at:
          type: string
          format: date-time
          description: The ISO-8601 formatted date/time of the certificates expiration date.
        domains:
          type: array
          description: The domain names that this certificate is covering.
          items:
            type: string
            format: uri
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
    CertificateFlags:
      type: object
      description: An array of various flags that indicate functionality associated with the certificate.
      additionalProperties:
        type: object
        properties:
          active:
            type: boolean
            description: Whether this certificate is installed/deployed.
          csr:
            type: boolean
            description: Whether this certificate has an associated CSR.
          legacy:
            type: boolean
            description: Whether this is a legacy certificate (ELB).
    Certificates:
      type: object
      description: A collection of certificates.
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of certificates.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Certificate'
    CertificateSigningRequest:
      type: object
      description: A certificate signing request.
      required:
        - id
        - csr
        - private_key
        - country
        - state
        - locality
        - organization
        - organizational_unit
        - common_name
        - alternate_names
        - flags
        - environment
        - _links
      properties:
        id:
          type: integer
          description: The hosting ID of the CSR/SSL Certificate (0 for 'elb' type).
        csr:
          type: string
          description: The PEM encoded string containing the entire CSR.
        private_key:
          type: string
          description: The PEM encoded private key.
        country:
          type: string
          description: The ISO-3166 country code.
        state:
          type: string
          description: The state/province.
        locality:
          type: string
          description: The locality (city/town/township).
        organization:
          type: string
          description: The organization name.
        organizational_unit:
          type: string
          description: The organizational unit (department).
        common_name:
          type: string
          description: The common name (host and domain name).
          format: uri
        alternate_names:
          type: array
          description: The subject alternate names (sni only).
          items:
            type: string
            format: uri
        flags:
          $ref: '#/components/schemas/CertificateSigningRequestFlags'
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
    CertificateSigningRequestFlags:
      type: object
      description: An array of various flags that indicate functionality associated with the CSR.
      additionalProperties:
        type: object
        properties:
          used:
            type: boolean
            description: Whether this CSR has already been used for a certificate.
          legacy:
            type: boolean
            description: Whether this is a legacy CSR (meant for use with ELB certificates).
    Cron:
      type: object
      required:
        - id
        - server
        - command
        - minute
        - hour
        - day_month
        - month
        - day_week
        - label
        - flags
        - environment
        - _links
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the cron job.
        server:
          $ref: '#/components/schemas/ServerStub'
        command:
          type: string
          description: The cron command.
        minute:
          type: string
          description: The cron expression minute.
        hour:
          type: string
          description: The cron expression hour.
        day_month:
          type: string
          description: The cron expression day of the month.
        month:
          type: string
          description: The cron expression month.
        day_week:
          type: string
          description: The cron expression day of the week.
        label:
          type: string
          description: The label for the cron.
        flags:
          $ref: '#/components/schemas/CronFlags'
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
    CronFlags:
      type: object
      description: An array of various flags that indicate functionality associated with cron jobs.
      additionalProperties:
        type: object
        properties:
          enabled:
            type: boolean
            description: Whether this this cron is enabled.
          system:
            type: boolean
            description: 'Whether this is a system cron, which cannot be modified.'
          on_any_web:
            type: boolean
            description: Whether this cron will run on the lowest numbered web.
    Crons:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of cron jobs.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Cron'
    Database:
      type: object
      description: Response schema for a database.
      required:
        - id
        - name
        - user_name
        - password
        - url
        - db_host
        - ssh_host
        - flags
        - environment
        - _links
      properties:
        id:
          type: integer
          description: The ID of the database.
        name:
          type: string
          description: The database name.
        user_name:
          type: string
          description: The database user name.
        password:
          type: string
          description: The password for the database user.
        url:
          type: string
          format: uri
          description: The connection URL.
        db_host:
          type: string
          format: uri
          description: 'The server the database lives on, relative to the SSH host.'
        ssh_host:
          type: string
          format: uri
          description: 'The server to SSH to, in order to access the database on the CLI.'
        flags:
          $ref: '#/components/schemas/DatabaseFlags'
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
    Databases:
      type: object
      description: A collection of databases.
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of databases matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Database'
    DatabaseFlags:
      type: object
      description: Response schema for database flags.
      properties:
        default:
          type: boolean
          description: Whether this is the default database.
        perform_backup:
          type: boolean
          description: Whether this database is backed up.
    DatabasePhpConfig:
      type: object
      description: Response schema for a database PHP configuration.
      required:
        - drupal
        - _links
      properties:
        drupal:
          type: string
          description: The Drupal PHP configuration settings file content.
        _links:
          $ref: '#/components/schemas/Links'
    DatabaseStub:
      type: object
      description: Schema for a stub of information regarding a database.
      required:
        - id
        - name
      properties:
        id:
          type: integer
          description: The ID of the database.
        name:
          type: string
          description: The database name.
    Dns:
      type: object
      description: Response schema for environment DNS configuration.
      required:
        - apex_domain
        - subdomains
        - regional_configuration
        - global_configuration
        - _links
      properties:
        apex_domain:
          deprecated: true
          type: array
          description: Environment apex domain DNS records.
          items:
            $ref: '#/components/schemas/DnsRecord'
        subdomains:
          deprecated: true
          type: array
          description: Environment subdomain DNS records.
          items:
            $ref: '#/components/schemas/DnsRecord'
        regional_configuration:
          type: object
          description: List of regional apex and subdomain DNS records.
          properties:
            apex_domain:
              type: array
              description: Environment regional apex domain DNS records.
              items:
                $ref: '#/components/schemas/DnsRecord'
            subdomains:
              type: array
              description: Environment regional subdomain DNS records.
              items:
                $ref: '#/components/schemas/DnsRecord'
        global_configuration:
          type: object
          description: List of global apex and subdomain DNS records.
          properties:
            apex_domain:
              type: array
              description: Environment global apex domain DNS records.
              items:
                $ref: '#/components/schemas/DnsRecord'
            subdomains:
              type: array
              description: Environment global subdomain DNS records.
              items:
                $ref: '#/components/schemas/DnsRecord'
        _links:
          $ref: '#/components/schemas/Links'
    DnsRecord:
      type: object
      description: A DNS record.
      required:
        - type
        - value
      properties:
        type:
          type: string
          description: The type of DNS record.
          enum:
            - A
            - AAAA
            - CNAME
        value:
          type: string
          description: The DNS record value.
    Domain:
      type: object
      description: Response schema for a domain.
      required:
        - hostname
        - cdn
        - flags
        - environment
        - _links
      properties:
        hostname:
          type: string
          format: uri
          description: The domain's hostname.
        cdn:
          $ref: '#/components/schemas/CdnInformation'
        flags:
          $ref: '#/components/schemas/DomainFlags'
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
    Domains:
      type: object
      description: A collection of domains.
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of domains matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Domain'
    DomainFlags:
      type: object
      required:
        - default
        - active
        - wildcard
      description: An array of flags representing features of the domain.
      properties:
        default:
          type: boolean
          description: If the domain is the default domain of the environment.
        active:
          type: boolean
          description: If the domain is considered to be the main or active domain in this environment.
        wildcard:
          type: boolean
          description: If this is a wildcard domain.
    DomainStatus:
      type: object
      required:
        - hostname
        - flags
        - ip_addresses
        - cnames
        - environment
        - _links
      description: Domain status information.
      properties:
        hostname:
          type: string
          description: The domain hostname.
          format: uri
        flags:
          $ref: '#/components/schemas/DomainStatusFlags'
        ip_addresses:
          type: array
          description: An array of this domain's IP addresses.
          items:
            type: string
            format: ipv4
        cnames:
          type: array
          description: An array of this domain's cnames.
          items:
            type: string
            format: uri
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
    DomainStatusFlags:
      type: object
      description: An array of hosting flags for the domain.
      properties:
        default:
          type: boolean
          description: Whether or not this is the default domain.
        active:
          type: boolean
          description: Whether or not this domain is active.
        dns_resolves:
          type: boolean
          description: Whether or not this domain resolves in DNS.
        acquia_hosted:
          type: boolean
          description: Whether or not this domain is Acquia-hosted.
    Environment:
      type: object
      required:
        - id
        - label
        - name
        - application
        - domains
        - active_domain
        - default_domain
        - image_url
        - ssh_url
        - ips
        - region
        - balancer
        - platform
        - status
        - type
        - size
        - weight
        - vcs
        - flags
        - configuration
        - artifact
        - _links
      properties:
        id:
          type: string
          description: The ID of the environment. The ID is a compound key consisting of the internal database ID of the environment and the application UUID.
        label:
          type: string
          description: The human-readable name of the environment.
        name:
          type: string
          description: The stage name of the environment.
        application:
          $ref: '#/components/schemas/ApplicationStub'
        domains:
          type: array
          description: An array of domain names attached to this environment.
          items:
            type: string
            format: uri
        active_domain:
          type: string
          format: uri
          description: The active domain name for this environment.
        default_domain:
          type: string
          format: uri
          description: The default domain name for this environment.
        image_url:
          type: string
          format: uri
          description: The URL to the image for this environment.
        ssh_url:
          type: string
          description: The URL used to SSH into the environment.
        ips:
          type: array
          description: An array of IP addresses attached to this environment.
          deprecated: true
          items:
            type: string
            format: ipv4
        region:
          type: string
          description: The region the environment resides in.
        balancer:
          type: string
          description: |
            The balancer type.
            - balancers: The environment is behind a Legacy balancer.
            - elb: The environment is behind an ELB balancer.
            - cluster: The environment is behind an Edge Cluster balancer.
          enum:
            - balancers
            - elb
            - cluster
        platform:
          type: string
          description: |
            The platform type.
            - cloud: The environment is hosted on a Cloud Classic Platform.
            - cloud-next: The environment is hosted on a Cloud Next Platform.
            - unknown:  The host information is not available for the environment.
          enum:
            - cloud
            - cloud-next
            - unknown
        status:
          type: string
          description: The status of this environment.
        type:
          type: string
          description: |
            The type of environment.
            - node: A NodeJS environment.
            - drupal: A Drupal environment.
            - unknown: We were unable to determine the environment type.
          enum:
            - node
            - drupal
            - unknown
        size:
          type: string
          description: The size of the environment. Will be null if the environment type does not support sizes.
          enum:
            - small
            - medium
            - large
            - unknown
        weight:
          type: integer
          description: The environment weight for display purposes.
        vcs:
          $ref: '#/components/schemas/Vcs'
        flags:
          $ref: '#/components/schemas/EnvironmentFlags'
        configuration:
          type: object
          description: A collection of environment configuration information.
          properties:
            operation_system:
              type: string
              description: The environment operation system.
            php:
              $ref: '#/components/schemas/EnvironmentConfigurations'
        artifact:
          $ref: '#/components/schemas/ArtifactStub'
        _links:
          $ref: '#/components/schemas/Links'
    EnvironmentConfigurations:
      type: object
      description: An array of configuration details for the environment.
      properties:
        version:
          type: string
          description: The PHP or Node version.
        memory_limit:
          type: integer
          description: Limits PHP request memory usage in megabytes.
          default: 128
          minimum: 128
          maximum: 1024
        opcache:
          type: integer
          description: This is the total amount of memory available for caching precompiled script bytecode per PHP/FPM process.
          default: 96
          minimum: 96
          maximum: 512
        apcu:
          type: integer
          description: APCu shared memory size per web server.
          default: 32
          minimum: 32
          maximum: 512
        interned_strings_buffer:
          type: integer
          description: Sets PHP Opcache key count per server.
          default: 8
          minimum: 8
          maximum: 32
        max_execution_time:
          type: integer
          description: Limits PHP request time in seconds.
          default: 300
          minimum: 1
          maximum: 300
        max_post_size:
          type: integer
          description: Sets the PHP limit on POST body size.
          default: 256
          minimum: 64
          maximum: 1024
        max_input_vars:
          type: integer
          description: Limits the number of various request items in PHP.
          default: 1000
          minimum: 500
          maximum: 20000
        sendmail_path:
          type: string
          description: 'Sets the PHP sendmail_path, usually to manage the "From" address or disable mail.'
    EnvironmentFlags:
      type: object
      description: An array of various flags that indicate functionality associated with the environment.
      additionalProperties:
        type: object
        properties:
          cde:
            type: boolean
            description: Determines if the environment is on-demand.
          cdn:
            type: boolean
            description: Determines if the environment has Platform CDN enabled.
          email:
            type: boolean
            description: Determines if the environment has Platform Email enabled.
          hsd:
            type: boolean
            description: Determines if the environment is under high-site density.
          livedev:
            type: boolean
            description: Determines if the environment has live development enabled.
          migration:
            type: boolean
            description: Determines if the environment is a Migrate Environment.
          multicert:
            type: boolean
            description: Determines if the environment has multicert enabled.
          multi_region:
            type: boolean
            description: Whether or not the environment is multi-regioned.
          production:
            type: boolean
            description: Determines if the environment is production.
          production_mode:
            type: boolean
            description: Determines if the environment has production mode enabled.
          remote_admin:
            type: boolean
            description: Determines if the environment is a remote administration environment.
          varnish:
            type: boolean
            description: Determines if the environment has Varnish.
          varnish_over_ssl:
            type: boolean
            description: Determines if the environment is configured for varnish over SSL.
    EnvironmentMetadata:
      type: object
      description: Environment metadata.
      properties:
        ids:
          type: array
          description: An array of environment identifiers.
          items:
            type: string
    Environments:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of environments matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Environment'
    EnvironmentSettings:
      type: object
      description: A collection of links to environment settings.
      required:
        - _links
      properties:
        _links:
          $ref: '#/components/schemas/Links'
    EnvironmentStub:
      type: object
      description: Schema for a stub of information regarding an environment.
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: The ID of the environment. The ID is a compound key consisting of the internal database ID of the environment and the application UUID.
        name:
          type: string
          description: The stage name of the environment.
    EnvironmentVariable:
      type: object
      required:
        - name
        - value
        - _links
      description: An environment variable key and value.
      properties:
        name:
          type: string
          description: The name of the variable.
          minLength: 1
          maxLength: 255
          pattern: '^(?!(ACQUIA_|AH_))[A-Za-z_][A-Za-z0-9_]*$'
        value:
          type: string
          description: The value of the variable.
          minLength: 0
          maxLength: 5000
        _links:
          $ref: '#/components/schemas/Links'
    EnvironmentVariables:
      type: object
      required:
        - total
        - _links
        - _embedded
      description: A collection of environment variables.
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of variables matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/EnvironmentVariable'
    FileDownload:
      type: object
      description: A JSON response containing the url and url expiration.
      required:
        - url
        - expires_at
      properties:
        url:
          type: string
          description: The url for the download.
        expires_at:
          type: string
          description: The expiration for the url.
    Log:
      type: object
      description: Details for a log file.
      required:
        - type
        - label
        - flags
        - _links
      properties:
        type:
          type: string
          description: The machine name for the type of logfile.
        label:
          type: string
          description: The human readable label of the logfile.
        flags:
          type: object
          description: An array of various flags that indicate functionality associated with the log.
          properties:
            available:
              type: boolean
              description: Whether or not this log file is available.
        _links:
          $ref: '#/components/schemas/Links'
    Logs:
      type: object
      description: A collection of logs.
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of logs matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Log'
    Logstream:
      type: object
      description: Connection details for Logstream backend.
      required:
        - logstream
        - _links
      properties:
        logstream:
          type: object
          required:
            - url
            - params
            - commands
          description: Connection details for Logstream backend.
          properties:
            url:
              type: string
              format: uri
              description: WebSocket URL.
            params:
              type: object
              description: 'Connection details such as a timestamp, hmac, site name and environment.'
            commands:
              type: array
              description: Commands for the logstream backend.
              items:
                type: string
        _links:
          $ref: '#/components/schemas/Links'
    LogForwardingDestination:
      type: object
      required:
        - uuid
        - label
        - sources
        - consumer
        - credentials
        - address
        - status
        - flags
        - health
        - environment
        - _links
      description: The Log Forwarding destination.
      properties:
        uuid:
          type: string
          format: uuid
          description: The string representation of the unique identifier of the destination.
        label:
          type: string
          description: The human-friendly identifier of the destination.
        sources:
          type: string
          description: The list of log sources to forward.
          enum:
            - apache-access
            - apache-error
            - varnish-access
            - drupal-request
            - drupal-watchdog
            - php-error
            - stdout
            - stderr
        consumer:
          type: string
          description: The application or provider consuming the logs.
          enum:
            - loggly
            - splunk
            - sumologic
            - syslog
        credentials:
          $ref: '#/components/schemas/LogForwardingDestinationCredentials'
        address:
          type: string
          format: uri
          description: The URL or host name and port of the destination.
        status:
          type: string
          description: The current status of the destination.
          enum:
            - active
            - pending
            - installing
            - install-failed
            - deleting
            - delete-failed
            - disabling
            - disable-failed
            - inactive
            - failing
        flags:
          $ref: '#/components/schemas/LogForwardingDestinationFlags'
        health:
          $ref: '#/components/schemas/LogForwardingDestinationHealth'
        environment:
          $ref: '#/components/schemas/EnvironmentStub'
        _links:
          $ref: '#/components/schemas/Links'
    LogForwardingDestinations:
      type: object
      required:
        - total
        - _links
        - _embedded
      description: A collection of Log Forwarding destinations.
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of log forwarding destinations matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/LogForwardingDestination'
    LogForwardingDestinationCredentials:
      type: object
      required:
        - certificate
        - key
        - expires_at
      description: The Log Forwarding destination credentials.
      properties:
        certificate:
          type: string
          description: 'A public X.509 certificate in PEM format. Required for Splunk, Sumologic, and Syslog. Not supported by Loggly.'
        key:
          type: string
          description: 'The certificate private key, in PEM format, used to encrypt the log traffic. Optional for Splunk, Sumologic, and Syslog.  Not supported by Loggly'
        expires_at:
          type: string
          format: date-time
          description: The ISO-8601 date the certificate will expire at. Required by Logly and Sumologic. Optional for Syslog. Not supported by Splunk.
    LogForwardingDestinationFlags:
      type: object
      description: Various flags for this log forwarding destination.
      properties:
        enabled:
          type: boolean
          description: Destination enabled status.
        certificate_expiring:
          type: boolean
          description: Whether the destination certificate is in danger of expiring soon (within 30 days).
    LogForwardingDestinationHealth:
      type: object
      description: Health information for this log forwarding destination.
      properties:
        code:
          type: string
          description: The error code for this log forwarding destination if an error occured.
        details:
          type: string
          description: The details regarding the health of this log forwarding destination.
        summary:
          type: string
          description: A brief summary that explains why an error code is present.
    PostCertificate:
      type: object
      description: Certificate POST schema.
      required:
        - certificate
        - private_key
      properties:
        legacy:
          type: boolean
          description: Must be set to true for legacy certificates.
        certificate:
          type: string
          description: The SSL certificate being installed.
        private_key:
          type: string
          description: The SSL private key.
        ca_certificates:
          type: string
          description: The CA intermediary certificates.
        csr_id:
          type: integer
          description: The CSR (certificate signing request) to associate with this certificate. Optional.
        label:
          type: string
          description: The label for this certificate. Required for standard certificates. Optional for legacy certificates.
    PostCron:
      type: object
      required:
        - command
        - frequency
        - label
      properties:
        command:
          type: string
          description: The command to run.
        frequency:
          type: string
          description: The cron string that describes the frequency the cron will be run at.
        label:
          type: string
          description: The label for this cron.
    PostCsr:
      type: object
      description: Certificate signing request POST schema.
      required:
        - country
        - state
        - locality
        - organization
        - organizational_unit
        - common_name
      properties:
        country:
          type: string
          description: The ISO-3166 country code for CSR generation.
        state:
          type: string
          description: The state/province for CSR generation.
        locality:
          type: string
          description: The locality (city/town/township) for CSR generation.
        organization:
          type: string
          description: The organization name for CSR generation.
        organizational_unit:
          type: integer
          description: The organizational unit (department) for CSR generation.
        common_name:
          type: string
          description: The common name (domain) for CSR generation.
        alternate_names:
          description: The Subject Alternate Names (SNI only) for CSR generation.
          type: array
          items:
            type: string
            format: uri
    PutCron:
      type: object
      properties:
        command:
          type: string
          description: The command to run.
        frequency:
          type: string
          description: The cron string that describes the frequency the cron will be run at.
        label:
          type: string
          description: The label for this cron.
    RemoteAdministration:
      type: object
      required:
        - update_mode
      properties:
        update_mode:
          type: string
          description: The update mode to select.
          enum:
            - update
            - inform
            - none
        update_type:
          type: string
          description: What components to update (core only or core and contrib modules).
          enum:
            - core
            - core_contrib
        pause_until:
          type: string
          format: date-time
          description: What date/time to pause RA updates until (if applicable).
        deploy_at:
          type: string
          format: date-time
          description: What date/time to deploy RA updates at (if applicable).
        deploy_environment:
          type: string
          description: The environment id of the environment to deploy to.
        source_environment:
          type: string
          description: The environment id of the environment to use as a starting point for testing.
        copy_files:
          type: boolean
          description: Whether to copy files from production to testing environment.
        copy_database:
          type: boolean
          description: Whether to copy database from production to testing environment.
        merge_tag:
          type: boolean
          description: Whether to automatically merge the approved code into your development branch.
        merge_branch:
          type: string
          description: The development branch into which to merge the update tag.
    Ssl:
      type: object
      description: The SSL settings for an environment.
      required:
        - balancer
        - ips
        - _links
      properties:
        balancer:
          type: string
          description: SSL configuration for the load balancer associated with this environment.
          properties:
            hostname:
              type: string
              description: The balancer CNAME.
              format: uri
        ips:
          type: array
          description: The IP addresses for the environment.
          items:
            type: string
            format: ipv4
        _links:
          $ref: '#/components/schemas/Links'
    Vcs:
      type: object
      required:
        - type
        - path
        - url
      properties:
        type:
          type: string
          description: The type of VCS.
          enum:
            - git
            - svn
        path:
          type: string
          description: The path or branch name.
        url:
          type: string
          description: The VCS url.
          format: uri
    DeployCodeRequest:
      type: object
      required:
        - source
      properties:
        source:
          type: string
          description: The ID of the environment to deploy code from.
        message:
          type: string
          description: An optional commit message to include when creating a new tag.
    ImportSiteRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: The URL of the make file or tarball containing the site to import.
        name:
          type: string
          description: The name of the distribution being installed.
    SwitchCodeRequest:
      type: object
      required:
        - branch
      properties:
        branch:
          type: string
          description: The name of the branch or tag to switch to.
    Ides:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of Cloud IDEs matching the request parameters.
          required:
            - items
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Ide'
    Ide:
      type: object
      required:
        - uuid
        - label
        - status
        - _links
      properties:
        uuid:
          type: string
          format: uuid
          description: The unique identifier of the Cloud IDE.
        label:
          type: string
          description: The human-friendly label of the Cloud IDE.
        status:
          type: string
          description: The current provisioning status of the Cloud IDE.
          enum:
            - active
            - provisioning
            - deleting
            - updating
            - provision-failed
            - update-failed
            - delete-failed
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          properties:
            owner:
              $ref: '#/components/schemas/UserProfile'
    IdentityProvider:
      type: object
      required:
        - uuid
        - label
        - idp_entity_id
        - sp_entity_id
        - sso_url
        - certificate
        - status
        - _links
      properties:
        uuid:
          type: string
          format: uuid
          description: The unique identifier of the identity provider.
        label:
          type: string
          description: The human-friendly label of the identity provider.
        idp_entity_id:
          type: string
          description: The SAML entity ID of the identity provider.
        sp_entity_id:
          type: string
          description: The SAML entity ID of the service provider.
        sso_url:
          type: string
          format: uri
          description: The URL of the SAML POST Binding / SP-initiated SSO.
        certificate:
          type: string
          description: The PEM-encoded X.509 certificate used to sign assertions.
        status:
          type: string
          description: The current state of the identity provider.
          enum:
            - enabled
            - incomplete
            - disabled
        _links:
          $ref: '#/components/schemas/Links'
    IdentityProviders:
      type: object
      required:
        - total
        - _links
        - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Links'
        _embedded:
          type: object
          description: A collection of identity providers matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/IdentityProvider'
    ApplicationUsageMetric:
      type: object
      description: Provides details about views and visits for an application.
      required:
        - metric
        - datapoints
        - metadata
        - last_data_at
      properties:
        metric:
          type: string
          description: The type of metric requested.
          enum:
            - views
            - visits
        datapoints:
          type: array
          description: The data points for the pricing metrics request.
          items:
            type: array
            description: Each element includes the value for the requested metric and the sampling time.
            items:
              type: string
              description: The first element is the metric value and the second is the sampling time.
        metadata:
          type: object
          description: The metadata for the data points being returned.
          properties:
            environment:
[...]
