{
  "openapi": "3.1.1",
  "info": {
    "title": "Site Service API",
    "version": "1.0.0",
    "description": "Documentation for Site Service API endpoints.",
    "license": {
      "name": "Acquia Terms of Service",
      "url": "https://www.acquia.com/acquia/agreement"
    },
    "contact": {
      "email": "apps_codebases_team@acquia.com"
    }
  },
  "servers": [
    {
      "url": "https://cloud.acquia.com/api"
    }
  ],
  "tags": [
    {
      "name": "Site_Service_API_Sites",
      "description": "Sites",
      "x-displayName": "Sites"
    },
    {
      "name": "Environment_Service_API_Environments",
      "description": "Endpoints related to Environment resources",
      "x-displayName": "Environments"
    },
    {
      "name": "Environment_Service_API_Site Instances",
      "description": "Endpoints related to Site Instance resources",
      "x-displayName": "Site Instances"
    },
    {
      "name": "Environment_Service_API_Deployments",
      "description": "Deployments",
      "x-displayName": "Deployments"
    },
    {
      "name": "Environment_Service_API_Code Deploys",
      "description": "Code Deploys",
      "x-displayName": "Code Deploys"
    }
  ],
  "paths": {
    "/sites/{siteId}/actions/duplicate": {
      "post": {
        "summary": "Duplicates a site from another given site.",
        "operationId": "duplicateSiteBySiteId",
        "tags": [
          "Site_Service_API_Sites"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]+$"
            },
            "description": "Unique identifier for the site"
          }
        ],
        "requestBody": {
          "description": "Site duplication request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "environment_mapping": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[a-zA-Z0-9-]+:[a-zA-Z0-9-]+$",
                      "description": "Environment mapping in the format 'sourceEnvId:targetEnvId'"
                    },
                    "description": "Array of environment mappings"
                  },
                  "site_name": {
                    "type": "string",
                    "description": "Name for the duplicated site"
                  },
                  "site_label": {
                    "type": "string",
                    "description": "Label for the duplicated site"
                  },
                  "hook_argument": {
                    "type": "string",
                    "description": "Optional hook arguments"
                  }
                },
                "required": [
                  "environment_mapping",
                  "site_name",
                  "site_label"
                ],
                "additionalProperties": false
              },
              "examples": {
                "duplicate": {
                  "summary": "Duplicate a site",
                  "description": "Duplicates a site with environment mapping",
                  "value": {
                    "environment_mapping": [
                      "0ebce493-9d09-479d-a9a8-138a206fa687:0ebce493-9d09-479d-a9a8-138a206fa681",
                      "0ebce493-9d09-479d-a9a8-138a206fa687:0ebce493-9d09-479d-a9a8-138a206fa682"
                    ],
                    "site_name": "duplicatedsite",
                    "site_label": "My duplicated site",
                    "hook_argument": "--verbose"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Site duplication started",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "description": "HAL links for the resource",
                              "required": [
                                "self"
                              ],
                              "additionalProperties": {
                                "type": "object",
                                "description": "HAL link object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "anyOf": [
                                      {
                                        "format": "uri"
                                      },
                                      {
                                        "format": "uri-template"
                                      }
                                    ],
                                    "description": "The target URI of the link (can be a URI or URI template)"
                                  },
                                  "templated": {
                                    "type": "boolean",
                                    "description": "Whether the link is a URI template"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Hint about the media type expected when dereferencing the target resource"
                                  },
                                  "deprecation": {
                                    "type": "string",
                                    "description": "A URL to a resource that provides deprecation information"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "A secondary key for selecting links"
                                  },
                                  "profile": {
                                    "type": "string",
                                    "description": "A URI that hints about the profile of the target resource"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A human-readable identifier for the link"
                                  },
                                  "hreflang": {
                                    "type": "string",
                                    "description": "The language of the target resource"
                                  }
                                },
                                "required": [
                                  "href"
                                ],
                                "examples": [
                                  {
                                    "summary": "Basic HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources/1"
                                    }
                                  },
                                  {
                                    "summary": "Templated HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources{?offset}",
                                      "templated": true
                                    }
                                  }
                                ]
                              }
                            },
                            "_embedded": {
                              "type": "object",
                              "description": "Embedded resources (optional)",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "_links"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message content"
                            }
                          },
                          "required": [
                            "message"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Site with label:My Site 1 duplication started.",
                          "description": "Confirmation message"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "https://cloud.acquia.com/api/sites/f1a2b3c4-d5e6-7890-abcd-ef1234567890"
                    },
                    "parent": {
                      "href": "https://cloud.acquia.com/api/sites"
                    }
                  },
                  "message": "Site with label:My Site 1 duplication started."
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "field_name": "This field is required.",
                        "another_field": "This field must be a valid format."
                      }
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "validation_failed",
                  "message": {
                    "field_name": "This field is required.",
                    "another_field": "This field must be a valid format."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "const": "You do not have permission to access this resource."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "forbidden"
                        },
                        "message": {
                          "type": "string",
                          "example": "You do not have permission to perform this action."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "forbidden",
                  "message": "You do not have permission to perform this action."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "The resource you are trying to access does not exist, or you do not have access to it."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource you are trying to access does not exist, or you do not have access to it."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "conflict"
                        },
                        "message": {
                          "type": "string",
                          "example": "The requested operation is invalid or cannot be completed."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "conflict",
                  "message": "The requested operation is invalid or cannot be completed."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "system"
                        },
                        "message": {
                          "type": "string",
                          "pattern": "^An unknown error occurred\\. Please try your request again\\. If the problem persists, contact Acquia Support\\. Request ID: .+\\.$",
                          "description": "Standard error message with variable request ID.",
                          "example": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "system",
                  "message": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                }
              }
            }
          }
        },
        "security": [
          {
            "Site_Service_API_BearerAuth": []
          }
        ],
        "x-acquia-exposure": {
          "channels": {
            "cli": {
              "command": "sites:duplicate"
            }
          }
        }
      }
    },
    "/sites/{siteId}/actions/recover": {
      "post": {
        "summary": "Recovers a site that is scheduled for deletion",
        "operationId": "recoverSiteBySiteId",
        "tags": [
          "Site_Service_API_Sites"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]+$"
            },
            "description": "Unique identifier for the site"
          }
        ],
        "responses": {
          "202": {
            "description": "Site recovery started",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "description": "HAL links for the resource",
                              "required": [
                                "self"
                              ],
                              "additionalProperties": {
                                "type": "object",
                                "description": "HAL link object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "anyOf": [
                                      {
                                        "format": "uri"
                                      },
                                      {
                                        "format": "uri-template"
                                      }
                                    ],
                                    "description": "The target URI of the link (can be a URI or URI template)"
                                  },
                                  "templated": {
                                    "type": "boolean",
                                    "description": "Whether the link is a URI template"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Hint about the media type expected when dereferencing the target resource"
                                  },
                                  "deprecation": {
                                    "type": "string",
                                    "description": "A URL to a resource that provides deprecation information"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "A secondary key for selecting links"
                                  },
                                  "profile": {
                                    "type": "string",
                                    "description": "A URI that hints about the profile of the target resource"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A human-readable identifier for the link"
                                  },
                                  "hreflang": {
                                    "type": "string",
                                    "description": "The language of the target resource"
                                  }
                                },
                                "required": [
                                  "href"
                                ],
                                "examples": [
                                  {
                                    "summary": "Basic HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources/1"
                                    }
                                  },
                                  {
                                    "summary": "Templated HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources{?offset}",
                                      "templated": true
                                    }
                                  }
                                ]
                              }
                            },
                            "_embedded": {
                              "type": "object",
                              "description": "Embedded resources (optional)",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "_links"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message content"
                            }
                          },
                          "required": [
                            "message"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Site recovery started.",
                          "description": "Confirmation message"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "https://cloud.acquia.com/api/sites/0ebce493-9d09-479d-a9a8-138a206fa687"
                    },
                    "parent": {
                      "href": "https://cloud.acquia.com/api/sites"
                    }
                  },
                  "message": "Site recovery started."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "const": "You do not have permission to access this resource."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "forbidden"
                        },
                        "message": {
                          "type": "string",
                          "example": "You do not have permission to perform this action."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "forbidden",
                  "message": "You do not have permission to perform this action."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "The resource you are trying to access does not exist, or you do not have access to it."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource you are trying to access does not exist, or you do not have access to it."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "conflict"
                        },
                        "message": {
                          "type": "string",
                          "example": "The requested operation is invalid or cannot be completed."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "conflict",
                  "message": "The requested operation is invalid or cannot be completed."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "system"
                        },
                        "message": {
                          "type": "string",
                          "pattern": "^An unknown error occurred\\. Please try your request again\\. If the problem persists, contact Acquia Support\\. Request ID: .+\\.$",
                          "description": "Standard error message with variable request ID.",
                          "example": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "system",
                  "message": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                }
              }
            }
          }
        },
        "security": [
          {
            "Site_Service_API_BearerAuth": []
          }
        ],
        "x-acquia-exposure": {
          "channels": {
            "cli": {
              "command": "sites:recover"
            }
          }
        }
      }
    },
    "/sites/{siteId}/actions/schedule-delete": {
      "post": {
        "summary": "Schedules a site for deletion",
        "operationId": "scheduleDeleteSiteBySiteId",
        "tags": [
          "Site_Service_API_Sites"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]+$"
            },
            "description": "Unique identifier for the site"
          }
        ],
        "responses": {
          "202": {
            "description": "Site deletion scheduled",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "description": "HAL links for the resource",
                              "required": [
                                "self"
                              ],
                              "additionalProperties": {
                                "type": "object",
                                "description": "HAL link object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "anyOf": [
                                      {
                                        "format": "uri"
                                      },
                                      {
                                        "format": "uri-template"
                                      }
                                    ],
                                    "description": "The target URI of the link (can be a URI or URI template)"
                                  },
                                  "templated": {
                                    "type": "boolean",
                                    "description": "Whether the link is a URI template"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Hint about the media type expected when dereferencing the target resource"
                                  },
                                  "deprecation": {
                                    "type": "string",
                                    "description": "A URL to a resource that provides deprecation information"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "A secondary key for selecting links"
                                  },
                                  "profile": {
                                    "type": "string",
                                    "description": "A URI that hints about the profile of the target resource"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A human-readable identifier for the link"
                                  },
                                  "hreflang": {
                                    "type": "string",
                                    "description": "The language of the target resource"
                                  }
                                },
                                "required": [
                                  "href"
                                ],
                                "examples": [
                                  {
                                    "summary": "Basic HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources/1"
                                    }
                                  },
                                  {
                                    "summary": "Templated HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources{?offset}",
                                      "templated": true
                                    }
                                  }
                                ]
                              }
                            },
                            "_embedded": {
                              "type": "object",
                              "description": "Embedded resources (optional)",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "_links"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message content"
                            }
                          },
                          "required": [
                            "message"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Site delete started.",
                          "description": "Confirmation message"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "https://cloud.acquia.com/api/sites/0ebce493-9d09-479d-a9a8-138a206fa687"
                    },
                    "parent": {
                      "href": "https://cloud.acquia.com/api/sites"
                    }
                  },
                  "message": "Site delete started."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "const": "You do not have permission to access this resource."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "forbidden"
                        },
                        "message": {
                          "type": "string",
                          "example": "You do not have permission to perform this action."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "forbidden",
                  "message": "You do not have permission to perform this action."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "The resource you are trying to access does not exist, or you do not have access to it."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource you are trying to access does not exist, or you do not have access to it."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "conflict"
                        },
                        "message": {
                          "type": "string",
                          "example": "The requested operation is invalid or cannot be completed."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "conflict",
                  "message": "The requested operation is invalid or cannot be completed."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "system"
                        },
                        "message": {
                          "type": "string",
                          "pattern": "^An unknown error occurred\\. Please try your request again\\. If the problem persists, contact Acquia Support\\. Request ID: .+\\.$",
                          "description": "Standard error message with variable request ID.",
                          "example": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "system",
                  "message": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                }
              }
            }
          }
        },
        "security": [
          {
            "Site_Service_API_BearerAuth": []
          }
        ],
        "x-acquia-exposure": {
          "channels": {
            "cli": {
              "command": "sites:schedule-delete"
            }
          }
        }
      }
    },
    "/environments/{environmentId}": {
      "get": {
        "summary": "Get environment details.",
        "operationId": "findEnvironmentByEnvironmentId",
        "tags": [
          "Environment_Service_API_Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]+$"
            },
            "description": "Unique identifier for the environment."
          }
        ],
        "responses": {
          "200": {
            "description": "Environment details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "Environment domain properties",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier of the environment",
                          "pattern": "^[a-zA-Z0-9-]+$"
                        },
                        "name": {
                          "type": "string",
                          "description": "The machine name of the environment"
                        },
                        "label": {
                          "type": "string",
                          "description": "The human-readable label of the environment"
                        },
                        "description": {
                          "type": "string",
                          "description": "A description of the environment"
                        },
                        "status": {
                          "type": "string",
                          "description": "The current status of the environment",
                          "enum": [
                            "normal",
                            "allocated",
                            "launching",
                            "killed",
                            "cancelled",
                            "stopped"
                          ]
                        },
                        "flags": {
                          "type": "object",
                          "description": "Environment configuration flags",
                          "additionalProperties": {
                            "type": "boolean"
                          }
                        },
                        "properties": {
                          "type": "object",
                          "description": "Environment PHP and server properties",
                          "properties": {
                            "version": {
                              "type": "string",
                              "description": "PHP version"
                            },
                            "max_execution_time": {
                              "type": "integer",
                              "description": "Maximum execution time in seconds"
                            },
                            "memory_limit": {
                              "type": "integer",
                              "description": "Memory limit in MB"
                            },
                            "apcu": {
                              "type": "integer",
                              "description": "APCu cache size in MB"
                            },
                            "client_max_body_size": {
                              "type": "integer",
                              "description": "Maximum client body size in MB"
                            },
                            "max_input_vars": {
                              "type": "integer",
                              "description": "Maximum number of input variables"
                            },
                            "max_post_size": {
                              "type": "integer",
                              "description": "Maximum POST size in MB"
                            },
                            "memcached_limit": {
                              "type": "integer",
                              "description": "Memcached limit in MB"
                            },
                            "upload_max_filesize": {
                              "type": "integer",
                              "description": "Maximum upload file size in MB"
                            },
                            "operating_system": {
                              "type": "string",
                              "description": "Operating system codename"
                            }
                          }
                        },
                        "reference": {
                          "type": "string",
                          "description": "The code reference (branch, tag, or commit) deployed to this environment"
                        },
                        "code_switch_status": {
                          "type": "string",
                          "description": "The status of the Switch Code action",
                          "enum": [
                            "IDLE",
                            "IN_PROGRESS"
                          ]
                        },
                        "ssh_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The SSH connection string for accessing this environment"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "label",
                        "status",
                        "flags",
                        "properties",
                        "reference",
                        "code_switch_status",
                        "ssh_url"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "description": "HAL links for the resource",
                          "required": [
                            "self"
                          ],
                          "additionalProperties": {
                            "type": "object",
                            "description": "HAL link object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "anyOf": [
                                  {
                                    "format": "uri"
                                  },
                                  {
                                    "format": "uri-template"
                                  }
                                ],
                                "description": "The target URI of the link (can be a URI or URI template)"
                              },
                              "templated": {
                                "type": "boolean",
                                "description": "Whether the link is a URI template"
                              },
                              "type": {
                                "type": "string",
                                "description": "Hint about the media type expected when dereferencing the target resource"
                              },
                              "deprecation": {
                                "type": "string",
                                "description": "A URL to a resource that provides deprecation information"
                              },
                              "name": {
                                "type": "string",
                                "description": "A secondary key for selecting links"
                              },
                              "profile": {
                                "type": "string",
                                "description": "A URI that hints about the profile of the target resource"
                              },
                              "title": {
                                "type": "string",
                                "description": "A human-readable identifier for the link"
                              },
                              "hreflang": {
                                "type": "string",
                                "description": "The language of the target resource"
                              }
                            },
                            "required": [
                              "href"
                            ],
                            "examples": [
                              {
                                "summary": "Basic HAL link",
                                "value": {
                                  "href": "https://cloud.acquia.com/api/resources/1"
                                }
                              },
                              {
                                "summary": "Templated HAL link",
                                "value": {
                                  "href": "https://cloud.acquia.com/api/resources{?offset}",
                                  "templated": true
                                }
                              }
                            ]
                          }
                        },
                        "_embedded": {
                          "type": "object",
                          "description": "Embedded resources (optional)",
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "_links"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "properties": {
                            "codebase": {
                              "type": "object",
                              "description": "HAL link object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "anyOf": [
                                    {
                                      "format": "uri"
                                    },
                                    {
                                      "format": "uri-template"
                                    }
                                  ],
                                  "description": "The target URI of the link (can be a URI or URI template)"
                                },
                                "templated": {
                                  "type": "boolean",
                                  "description": "Whether the link is a URI template"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Hint about the media type expected when dereferencing the target resource"
                                },
                                "deprecation": {
                                  "type": "string",
                                  "description": "A URL to a resource that provides deprecation information"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "A secondary key for selecting links"
                                },
                                "profile": {
                                  "type": "string",
                                  "description": "A URI that hints about the profile of the target resource"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "A human-readable identifier for the link"
                                },
                                "hreflang": {
                                  "type": "string",
                                  "description": "The language of the target resource"
                                }
                              },
                              "required": [
                                "href"
                              ],
                              "examples": [
                                {
                                  "summary": "Basic HAL link",
                                  "value": {
                                    "href": "https://cloud.acquia.com/api/resources/1"
                                  }
                                },
                                {
                                  "summary": "Templated HAL link",
                                  "value": {
                                    "href": "https://cloud.acquia.com/api/resources{?offset}",
                                    "templated": true
                                  }
                                }
                              ]
                            }
                          }
                        },
                        "_embedded": {
                          "type": "object",
                          "properties": {
                            "codebase": {
                              "type": "object",
                              "description": "Embedded codebase resource",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier of the codebase"
                                },
                                "_links": {
                                  "type": "object",
                                  "description": "HAL links for the embedded codebase",
                                  "properties": {
                                    "self": {
                                      "type": "object",
                                      "description": "HAL link object",
                                      "properties": {
                                        "href": {
                                          "type": "string",
                                          "anyOf": [
                                            {
                                              "format": "uri"
                                            },
                                            {
                                              "format": "uri-template"
                                            }
                                          ],
                                          "description": "The target URI of the link (can be a URI or URI template)"
                                        },
                                        "templated": {
                                          "type": "boolean",
                                          "description": "Whether the link is a URI template"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "Hint about the media type expected when dereferencing the target resource"
                                        },
                                        "deprecation": {
                                          "type": "string",
                                          "description": "A URL to a resource that provides deprecation information"
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "A secondary key for selecting links"
                                        },
                                        "profile": {
                                          "type": "string",
                                          "description": "A URI that hints about the profile of the target resource"
                                        },
                                        "title": {
                                          "type": "string",
                                          "description": "A human-readable identifier for the link"
                                        },
                                        "hreflang": {
                                          "type": "string",
                                          "description": "The language of the target resource"
                                        }
                                      },
                                      "required": [
                                        "href"
                                      ],
                                      "examples": [
                                        {
                                          "summary": "Basic HAL link",
                                          "value": {
                                            "href": "https://cloud.acquia.com/api/resources/1"
                                          }
                                        },
                                        {
                                          "summary": "Templated HAL link",
                                          "value": {
                                            "href": "https://cloud.acquia.com/api/resources{?offset}",
                                            "templated": true
                                          }
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "self"
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "_links"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "https://cloud.acquia.com/api/environments/3e8ecbec-ea7c-4260-8414-ef2938c859bc"
                    },
                    "codebase": {
                      "href": "https://cloud.acquia.com/api/codebases/d3f7270e-c45f-4801-9308-5e8afe84a323"
                    }
                  },
                  "id": "3e8ecbec-ea7c-4260-8414-ef2938c859bc",
                  "name": "environment_3e8ecbec-ea7c-4260-8414-ef2938c859bc",
                  "label": "Environment_3e8ecbec-ea7c-4260-8414-ef2938c859bc",
                  "description": "Description of 3e8ecbec-ea7c-4260-8414-ef2938c859bc",
                  "status": "normal",
                  "flags": {
                    "production": false,
                    "protection_mode": false
                  },
                  "properties": {
                    "version": "8.3",
                    "max_execution_time": 10,
                    "memory_limit": 192,
                    "apcu": 32,
                    "client_max_body_size": 192,
                    "max_input_vars": 1000,
                    "max_post_size": 256,
                    "memcached_limit": 128,
                    "upload_max_filesize": 192,
                    "operating_system": "focal"
                  },
                  "reference": "tag/v3.1",
                  "code_switch_status": "IDLE",
                  "ssh_url": "ssh://site.dev@sitedev.ssh.hosted.acquia-sites.com",
                  "_embedded": {
                    "codebase": {
                      "id": "d3f7270e-c45f-4801-9308-5e8afe84a323",
                      "_links": {
                        "self": {
                          "href": "https://cloud.acquia.com/api/codebases/d3f7270e-c45f-4801-9308-5e8afe84a323"
                        }
                      }
                    }
                  }
                }
              }
            },
            "links": {
              "self": {
                "operationId": "findEnvironmentByEnvironmentId",
                "parameters": {
                  "environmentId": "$request.path.environmentId"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "const": "You do not have permission to access this resource."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "forbidden"
                        },
                        "message": {
                          "type": "string",
                          "example": "You do not have permission to perform this action."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "forbidden",
                  "message": "You do not have permission to perform this action."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "The resource you are trying to access does not exist, or you do not have access to it."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource you are trying to access does not exist, or you do not have access to it."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "system"
                        },
                        "message": {
                          "type": "string",
                          "pattern": "^An unknown error occurred\\. Please try your request again\\. If the problem persists, contact Acquia Support\\. Request ID: .+\\.$",
                          "description": "Standard error message with variable request ID.",
                          "example": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "system",
                  "message": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                }
              }
            }
          }
        },
        "security": [
          {
            "Environment_Service_API_BearerAuth": []
          }
        ],
        "x-acquia-exposure": {
          "channels": {
            "cli": {
              "command": "environments:find"
            }
          }
        }
      }
    },
    "/environments/{environmentId}/actions/enable-protection-mode": {
      "post": {
        "summary": "Enable Environment Protection mode.",
        "operationId": "enableEnvironmentProtectionModeByEnvironmentId",
        "tags": [
          "Environment_Service_API_Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]+$"
            },
            "description": "Unique identifier for the environment."
          }
        ],
        "responses": {
          "202": {
            "description": "Enable protection mode initiated",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "description": "HAL links for the resource",
                              "required": [
                                "self"
                              ],
                              "additionalProperties": {
                                "type": "object",
                                "description": "HAL link object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "anyOf": [
                                      {
                                        "format": "uri"
                                      },
                                      {
                                        "format": "uri-template"
                                      }
                                    ],
                                    "description": "The target URI of the link (can be a URI or URI template)"
                                  },
                                  "templated": {
                                    "type": "boolean",
                                    "description": "Whether the link is a URI template"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Hint about the media type expected when dereferencing the target resource"
                                  },
                                  "deprecation": {
                                    "type": "string",
                                    "description": "A URL to a resource that provides deprecation information"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "A secondary key for selecting links"
                                  },
                                  "profile": {
                                    "type": "string",
                                    "description": "A URI that hints about the profile of the target resource"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A human-readable identifier for the link"
                                  },
                                  "hreflang": {
                                    "type": "string",
                                    "description": "The language of the target resource"
                                  }
                                },
                                "required": [
                                  "href"
                                ],
                                "examples": [
                                  {
                                    "summary": "Basic HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources/1"
                                    }
                                  },
                                  {
                                    "summary": "Templated HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources{?offset}",
                                      "templated": true
                                    }
                                  }
                                ]
                              }
                            },
                            "_embedded": {
                              "type": "object",
                              "description": "Embedded resources (optional)",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "_links"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message content"
                            }
                          },
                          "required": [
                            "message"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Environment protection mode enablement started.",
                          "description": "Confirmation message"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "https://cloud.acquia.com/api/environments/d3f7270e-c45f-4801-9308-5e8afe84a323"
                    }
                  },
                  "message": "Environment protection mode enablement started."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "const": "You do not have permission to access this resource."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "forbidden"
                        },
                        "message": {
                          "type": "string",
                          "example": "You do not have permission to perform this action."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "forbidden",
                  "message": "You do not have permission to perform this action."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "not_found"
                        },
                        "message": {
                          "type": "string",
                          "example": "The resource you are trying to access does not exist, or you do not have access to it."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource you are trying to access does not exist, or you do not have access to it."
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "conflict"
                        },
                        "message": {
                          "type": "string",
                          "example": "The requested operation is invalid or cannot be completed."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "conflict",
                  "message": "The requested operation is invalid or cannot be completed."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "const": "system"
                        },
                        "message": {
                          "type": "string",
                          "pattern": "^An unknown error occurred\\. Please try your request again\\. If the problem persists, contact Acquia Support\\. Request ID: .+\\.$",
                          "description": "Standard error message with variable request ID.",
                          "example": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                        }
                      },
                      "required": [
                        "error",
                        "message"
                      ]
                    }
                  ]
                },
                "example": {
                  "error": "system",
                  "message": "An unknown error occurred. Please try your request again. If the problem persists, contact Acquia Support. Request ID: abc123-def456-ghi789."
                }
              }
            }
          }
        },
        "security": [
          {
            "Environment_Service_API_BearerAuth": []
          }
        ],
        "x-acquia-exposure": {
          "channels": {
            "cli": {
              "command": "environments:enable-protection-mode"
            }
          }
        }
      }
    },
    "/environments/{environmentId}/actions/disable-protection-mode": {
      "post": {
        "summary": "Disable Environment Protection mode.",
        "operationId": "disableEnvironmentProtectionModeByEnvironmentId",
        "tags": [
          "Environment_Service_API_Environments"
        ],
        "parameters": [
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]+$"
            },
            "description": "Unique identifier for the environment."
          }
        ],
        "responses": {
          "202": {
            "description": "Disable protection mode initiated",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "description": "HAL links for the resource",
                              "required": [
                                "self"
                              ],
                              "additionalProperties": {
                                "type": "object",
                                "description": "HAL link object",
                                "properties": {
                                  "href": {
                                    "type": "string",
                                    "anyOf": [
                                      {
                                        "format": "uri"
                                      },
                                      {
                                        "format": "uri-template"
                                      }
                                    ],
                                    "description": "The target URI of the link (can be a URI or URI template)"
                                  },
                                  "templated": {
                                    "type": "boolean",
                                    "description": "Whether the link is a URI template"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Hint about the media type expected when dereferencing the target resource"
                                  },
                                  "deprecation": {
                                    "type": "string",
                                    "description": "A URL to a resource that provides deprecation information"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "A secondary key for selecting links"
                                  },
                                  "profile": {
                                    "type": "string",
                                    "description": "A URI that hints about the profile of the target resource"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A human-readable identifier for the link"
                                  },
                                  "hreflang": {
                                    "type": "string",
                                    "description": "The language of the target resource"
                                  }
                                },
                                "required": [
                                  "href"
                                ],
                                "examples": [
                                  {
                                    "summary": "Basic HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources/1"
                                    }
                                  },
                                  {
                                    "summary": "Templated HAL link",
                                    "value": {
                                      "href": "https://cloud.acquia.com/api/resources{?offset}",
                                      "templated": true
                                    }
                                  }
                                ]
                              }
                            },
                            "_embedded": {
                              "type": "object",
                              "description": "Embedded resources (optional)",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "_links"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message content"
                            }
                          },
                          "required": [
                            "message"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "const": "Environment protection mode disablement started.",
                          "description": "Confirmation message"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "_links": {
                    "self": {
                      "href": "https://cloud.acquia.com/api/environments/d3f7270e-c45f-4801-9308-5e8afe84a323"
                    }
                  },
                  "message": "Environment protection mode disablement started."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "message"
[...]
