name: Sync GitHub issues to Jira
on:
  issues:
    types:
      - opened
      - closed
  pull_request:
    types:
      - opened
permissions:
  issues: write
  pull-requests: read
jobs:
  jira:
    uses: acquia/.github/.github/workflows/jira.yml@main
    secrets:
      jira-api-token: ${{ secrets.JIRA_API_TOKEN }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
      jira-user-email: ${{ secrets.JIRA_USER_EMAIL }}
