name: Mutation Testing

on: [pull_request, push]

jobs:
  tests:
    runs-on: ubuntu-latest

    name: Mutation Testing
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          tools: composer:v2
          coverage: pcov

      - name: Install dependencies
        run: |
          composer install --no-progress --no-suggest --no-interaction

      - name: Download Infection
        run: composer infection-install

      - name: Run Infection for added files only
        if: github.event_name == 'pull_request'
        run: |
          git fetch --depth=1 origin $GITHUB_BASE_REF
          php build/infection.phar -j1 --git-diff-filter=AM --git-diff-base=origin/$GITHUB_BASE_REF --only-covered

      - name: Run Infection for all files
        if: github.event_name == 'push'
        run: |
          php build/infection.phar -j2 --only-covered
