name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  autolabel:
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    if: github.event_name == 'pull_request_target' && github.event.action == 'opened'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PR: ${{ github.event.pull_request.number }}
    steps:
      - name: Get linked issue label
        run: |
          echo 'ISSUE_LABEL='
          $(gh api graphql -F owner=$GITHUB_REPOSITORY_OWNER -F name='cli' -F number=$GITHUB_PR -f query='
            query($owner:String!, $name:String!, $number:Int!){
              repository(owner:$owner, name:$name) {
                pullRequest(number:$number) {
                  closingIssuesReferences (first:1) {
                    edges {
                      node {
                        labels (first:1) {
                          edges {
                            node {
                              name
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ' --jq '.data.repository.pullRequest.closingIssuesReferences.edges.[].node.labels.edges.[].node.name') >> $GITHUB_ENV
      - name: Apply label
        run: gh pr edit https://github.com/$GITHUB_REPOSITORY/pull/$GITHUB_PR --add-label "$ISSUE_LABEL"
  require_label:
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: read
    if: github.event_name == 'pull_request_target'
    steps:
      - run: gh pr view --json labels https://github.com/$GITHUB_REPOSITORY/pull/$GITHUB_PR | jq -r '.labels[0].name' | grep -q 'null' && echo "You must apply at least one label" && exit 1 || exit 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_PR: ${{ github.event.pull_request.number }}
  update_release_draft:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
