name: Jira release creator
on:
  release:
    types: [prereleased]

jobs:
  create-ticket:
    runs-on: ubuntu-latest
    name: Create a CCB ticket in Jira
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
      - name: Install dependencies
        run: composer install --optimize-autoloader --no-interaction
      - name: Generate Jira ticket body
        env:
          GITHUB_ACTIONS_RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          RELEASE_BODY: ${{ github.event.release.body }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
        run: |
          ${GITHUB_WORKSPACE}/.github/workflows/create-ccb-ticket.sh "$RELEASE_BODY" "${{ github.event.release.name }}" "${{ github.event.release.html_url }}" "$GITHUB_ACTIONS_RUN_URL" "$JIRA_BASE_URL" >> jira_description.md
          JIRA_DESCRIPTION=$(<jira_description.md)
          echo "JIRA_DESCRIPTION<<EOF" >> $GITHUB_ENV
          echo "$JIRA_DESCRIPTION" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
        shell: bash
      - name: Login to Jira
        uses: acquia/gajira-login@bearer
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      - name: Create CCB ticket in Jira
        id: create
        uses: acquia/gajira-create@bearer
        with:
          project: CLI
          issuetype: Release
          summary: "Acquia CLI ${{ github.event.release.name }}"
          description: "${{ env.JIRA_DESCRIPTION }}"
          fields: '{"components": [{"id": "25474"}], "labels": ["ccb_std_017"]}'
      - name: Log created issue
        run: echo "Issue ${{ steps.create.outputs.issue }} was created"
