name: Jira release creator
on:
  release:
    types: [prereleased]

jobs:
  create-ticket:
    runs-on: ubuntu-latest
    name: Create a CCB ticket in Jira
    steps:
      - name: Generate Jira ticket body
        env:
          # @see https://docs.github.com/en/rest/reference/releases#get-a-release
          GITHUB_RELEASE_BODY: "${{ github.event.release.body }}"
          GITHUB_RELEASE_NAME: "${{ github.event.release.name }}"
          GITHUB_ACTIONS_RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
        run: echo "JIRA_DESCRIPTION=\"$(./.github/workflows/create-ccb-ticket.sh)\"" >> $GITHUB_ENV
        shell: bash
      - name: Login to Jira
        uses: acquia/gajira-login@server
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      - name: Create CCB ticket in Jira
        id: create
        uses: acquia/gajira-create@server
        with:
          project: CLI
          issuetype: Release
          summary: "${{ github.event.release.name }}"
          description: "${{ env.JIRA_DESCRIPTION }}"
          fields: '{"components": [{"id": "25474"}]}'
      - name: Log created issue
        run: echo "Issue ${{ steps.create.outputs.issue }} was created"